<?php

namespace {{ namespace }}\Entities;

use Illuminate\Database\Eloquent\Model;

class {{ class }} extends Model
{
    /**
    * The table associated with the model.
    *
    * @var string
    */
   protected $table = '{{ name }}';
}